{% extends 'base.html' %}
{% block body %}
<form method="POST" enctype="multipart/form-data">
  <h1>Add Movie</h1>
<div class="form-group">
  {% csrf_token %}
  <input type="text" name="name" class="form-control" style="width:500px;padding:10px;" placeholder="Enter Name">
  <br><br>
  <input type="text" name="desc" class="form-control" style="width:500px;padding:10px;" placeholder="Enter Discription">
  <br><br>
  <input type="number" name="year" class="form-control" style="width:500px;padding:10px;" placeholder="Enter Year">
  <br><br><br>
  <input type="file" name="img">
  <br><br><br>
  <input type="submit" class="btn btn-primary">

</div>
</form>

{% endblock %}